.container--fluid
  padding: 15px

.l-main
  padding: 15px 15px 100px
  .btn--add
    position: absolute;
    z-index: 1000;
    bottom: -80px;
    right: 30px;
    color: #FFF;
    z-index: inherit;

  .capitalize-text
    text-transform: capitalize

  .menu__content
    z-index 20
  .app__bar
    padding: 0 15px

/*
 * Router Animations
 */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}


[v-cloak] {
  display: none;
}


